PORT=3000
FIREBASE_PROJECT_ID=ghantabazar-fc6af
FIREBASE_SERVICE_ACCOUNT_JSON=
GOOGLE_APPLICATION_CREDENTIALS=
DEMO_USER_EMAIL=ganesh@123gmail.com
DEMO_USER_PASSWORD=replace-with-a-password-of-at-least-6-characters
ALLOWED_ORIGINS=
